* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'BioRhyme', serif;
    color: #3a4a54b7;
}

/*************************
 *      Header
 *************************/

.headerPopUp {
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    animation: headerPopUp 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes headerPopUp {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-20px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #000000, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc;
    }
}

#headerDate {
    font-size: 30px;
}

header {
    text-align: center;
    padding-top: 3.5em;
    background-image: url("/images/darkBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 0px 0px 80px 80px;
}

#copyright {
    font-size: larger;
    color: #00252e;
    font-weight: bolder;
    text-shadow: gray 0 1px;
    margin-top: 4%;
}

/*************************
 *        Main
 *************************/

/* Modal */

.modal-open {
    filter: blur(3px);
}

.newTaskDialog {
    color: #fff;
    border: none;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(64, 77, 77);
    position: relative;
}

.modalHeading {
    color: #fff;
    font-weight: 400px;
    margin-bottom: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px;
}

.taskInput {
    height: 36px;
    width: 250px;
    padding: 0 12px;
    background-color: #e7e8eb;
    border: none;
    border-radius: 5px;
}

.exitBtn {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 4%;
    right: 2%;
    border: none;
    background: none;
    cursor: pointer;
}

.addNewTaskBtn {
    font-size: 20px;
    background-color: #d8d9da;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.addNewTaskBtn:hover {
    background-color: #a0a0a0;
}

/* Main and Body */

body {
    text-align: center;
    background-color: rgb(64, 77, 77);
}

.buttons {
    font-size: 20px;
    margin-top: 20px;
    background-color: #d8d9da;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #a0a0a0;
}

.functionBtns {
    text-align: right;
    padding-right: 11%;
}

.taskContainer {
    margin-top: 2%;
}

.taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.listItem {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.listTaskText {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    background-color: #fff;
    cursor: pointer;
    width: 320px;
    border-radius: 10px 0 0 10px;
}

.listItemCompleted {
    text-decoration: line-through;
    background-color: #d8d9da;
}

.completed {
    filter: opacity(50%);
}

.taskText {
    text-align: start;
}

.taskHeadingText {
    font-size: 18px;
    max-width: 270px;
}

.taskDateText {
    font-size: 12px;
    color: #999;
}

.editTaskBtn {
    margin-left: 3px;
}

.deleteTaskBtn,
.editTaskBtn {
    background-color: #fff;
    cursor: pointer;
    height: 50px;
    width: 45px;
    border: none;
}

.deleteTaskBtn {
    border-radius: 0 15px 10px 0;
}

.listTaskBtns {
    display: flex;
    gap: 3px;
}

/*************************
 *     Media Queries
 *************************/

@media (max-width: 450px) {
    .listTaskText {
        width: 200px;
    }

    #inputSection {
        width: auto;
    }

    .editTaskBtn, .deleteTaskBtn {
        font-size: small;
    }

    #btnAddTask {
        position: fixed;
        top: 27.8%;
        left: 4%;
    }

    #spongeBob {
        display: none;
    }

}

@media (max-width: 750px) {
    #btnAddTask {
        position: fixed;
        top: 32%;
        left: 5%;
    }

    #spongeBob {
        display: none;
    }
}


/*************************
 *        Footer
 *************************/
.add {
    position: fixed;
    bottom: 6%;
    right: 3%;
}

#spongeBob {
    height: 70px;
    margin-top: 40%;
}

#btnAddTask {
    animation-name: btnAddTask;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: ease-in-out;
}

@keyframes btnAddTask {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}