* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'BioRhyme', serif;
    color: #3a4a54b7;
}

/*************************
 *      Header
 *************************/

.headerPopUp {
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    animation: headerPopUp 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes headerPopUp {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-20px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #000000, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc;
    }
}

#addBtn:hover {
    animation: addBtn 3s ease-in-out infinite both;
}

@keyframes addBtn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


#headerDate {
    font-size: 30px;
}

header {
    text-align: center;
    padding-top: 3.5em;
    padding-bottom: 2em;
    background-image: url("/images/darkBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 0px 0px 80px 80px;
}

#userInput {
    background-color: #d8d9da;
    border-radius: 10px;
    text-align: center;
    min-width: 25%;
    padding: 10px;
    margin-left: 5%;
    border: none;
}

#inputSection {
    padding: 10px 20px;
    margin-bottom: 1%;
}

#dateHeading {
    background-color: #d8d9da;
    border-radius: 20px;
    text-align: center;
}

/*************************
 *        Main
 *************************/

body {
    text-align: center;
    background-color: rgb(64, 77, 77);
}

.buttons {
    font-size: 20px;
    margin-top: 20px;
    background-color: #d8d9da;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.buttons:hover {
    background-color: #a0a0a0;
}

.functionBtns {
    text-align: right;
    padding-right: 11%;
}

.container {
    margin-top: 2%;
}

.taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.listItem {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.listTaskText {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    background-color: #fff;
    cursor: pointer;
    width: 320px;
    border-radius: 10px 0 0 10px;
}

.listItemCompleted {
    text-decoration: line-through;
    background-color: #d8d9da;
}

.completed {
    filter: opacity(50%);
}

.taskText {
    text-align: start;
}

.taskHeadingText {
    font-size: 18px;
    max-width: 270px;
}

.taskDateText {
    font-size: 12px;
    color: #999;
}

.editTaskBtn {
    margin-left: 3px;
}

.deleteTaskBtn,
.editTaskBtn {
    background-color: #fff;
    cursor: pointer;
    height: 50px;
    width: 45px;
    border: none;
}

.deleteTaskBtn {
    border-radius: 0 15px 10px 0;
}

.listTaskBtns {
    display: flex;
    gap: 3px;
}

/*************************
 *     Media Queries
 *************************/

@media (max-width: 450px) {
    .listTaskText {
        width: 200px;
    }

    #inputSection {
        width: auto;
    }

    .editTaskBtn, .deleteTaskBtn {
        font-size: small;
    }
}


/*************************
 *        Footer
 *************************/

#copyright {
    color: white;
    position: static;
}

@keyframes copyrightExpand {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.copyrightExpand {
    animation: copyrightExpand 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#spongeBob {
    height: 80px;
}