* {
    box-sizing: border-box;
    margin: 0%;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#heading{
    padding-bottom: 1em;
}


header {
    text-align: center;
    padding-top: 3.5em;
    padding-bottom: 3em;
}

#userInput{
    border-radius: 20px;
    text-align: center;
    min-width: 40%;
}

#addBtn {
    color: black;
    font-size: larger;
    border-radius: 100%;
    padding: 8px 17px;
    border: darkgray solid;
}

body {
    text-align: center;
    background-image: url("../images/darkBackground.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}