* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'BioRhyme', serif;
    color: rgb(64, 77, 80);
}

/*************************
 *      Header
 *************************/

#heading {
    font-family: 'Grape Nuts', cursive;
}

.headerDate {
    font-size: 30px;
    font-family: 'Grape Nuts', cursive;
}

header {
    text-align: center;
    padding-top: 3.5em;
    padding-bottom: 2em;
    background-image: url("../images/darkBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 0px 0px 80px 80px;
}

#userInput {
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    min-width: 25%;
    padding: 10px;
    margin-left: 5%;
}

#input {
    padding: 10px 20px;
    margin-bottom: 1%;
    border-radius: 20px;
}

#dateHeading {
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
}


/*************************
 *        Main
 *************************/

body {
    text-align: center;
    background-color: rgb(64, 77, 77);
}

.buttons {
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px 17px;
}

#functionBtns {
    text-align: right;
    padding-right: 11%;
}


#display {
    background-color: aliceblue;
    margin: 1% 10%;
    border-radius: 20px;
    padding: 2rem;
}

/*************************
 *        Footer
 *************************/

#copyright{
    color: white;
    position: static; 
}